:host {
    background: linear-gradient(120deg, rgba(255,153,51,1) 0%, rgba(255,153,51,1) 15%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 55%, rgba(19,136,8,1) 75%, rgba(19,136,8,1) 100%);
    color: black;
    height: 48pt;
    overflow: hidden;
    flex: 0 0 auto;
}

header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-line {
    display: flex;
    align-items: center;
}

.header-line span {
    display: inline-block;
}

.header-title {
    padding-left: 0.75em;
    font-size: 20pt;
    color: #000080;
    cursor: pointer;
}

.header-divider {
    flex-grow: 1;
}

.header-search {
    padding-right: 0.75em;
}

.pi-search {
    padding-right: 0.5em;
    color: #000080;
}

.search-text {
    width: 25em;
    height: 100%;
    font-size: 14pt;
    color: black;
}


@media screen and (max-width: 1023px) {
    :host {
        font-size: 13pt;
        height: 44pt;
    }

    .header-title {
        padding-left: 0.5em;
        font-size: 15pt;
    }

    .header-search {
        padding-right: 0.5em;
    }

    .pi-search {
        padding-right: 0.3em;
    }

    .search-text {
        width: 15em;
        font-size: 13pt;
    }
}

@media screen and (max-width: 599px) {
    :host {
        font-size: 12pt;
        height: 36pt;
    }

    .header-title {
        padding-left: 0.25em;
        font-size: 12pt;
    }

    .header-search {
        padding-right: 0.25em;
    }

    .pi-search {
        padding-right: 0.2em;
    }

    .search-text {
        width: 10em;
        font-size: 12pt;
    }
}

@media screen and (max-width: 399px) {
    .header-title {
        font-size: 11pt;
    }

    .header-search {
        padding-right: 0.25em;
    }

    .pi-search {
        padding-right: 0.2em;
    }

    .search-text {
        width: 10em;
        font-size: 11pt;
    }
}
