:host {
    background: linear-gradient(120deg, rgba(255,153,51,1) 0%, rgba(255,153,51,1) 15%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 55%, rgba(19,136,8,1) 75%, rgba(19,136,8,1) 100%);
    color: black;
    height: 64pt;
    overflow: hidden;
    font-size: 24pt;
    flex: 0 0 auto;
}

header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-line {
    display: flex;
    align-items: center;
}

.header-line span {
    display: inline-block;
}

.header-title {
    padding-left: 0.75em;
}

.header-divider {
    flex-grow: 1;
}

.header-search {
    padding-right: 0.75em;
}

.pi-search {
    padding-right: 0.5em;
    color: #000080;
    font-size: 20pt;
}

.search-text {
    width: 20em;
    height: 100%;
    font-size: 20pt;
    color: black;
}

@media screen and (max-width: 600px) {
    :host {
        font-size: 16pt;
    }
}
