<header>
    <div class="header-line">
        <span class="header-title" (click)="titleClick()">
            Hindí-magyar szótár
        </span>
        <span class="header-divider"></span>
        <span class="header-search">
            <span class="pi pi-search" (click)="search()"></span>
            <input type="search" pInputText class="search-text"
                   [(ngModel)]="searchText" (keydown.enter)="search()"
                   autocapitalize="off" placeholder="Keresés..."
                   title="prefix nélkül - csak címszó&#010;j&#x2423; - csak jelentés&#010;h&#x2423; - minden hindí&#010;m&#x2423; - minden magyar" />
        </span>
    </div>
</header>
