<div class="margin" *ngIf="vm$ | async as vm">

    <p-card *ngIf="!vm.result && !vm.error">
        <hh-usage></hh-usage>
    </p-card>

    <ng-container *ngIf="vm.result">
        <div *ngIf="vm.result.numFound > 5" class="info">
            <span>Találatok száma: {{vm.result.numFound}}</span>
            <span *ngIf="vm.result.numFound > 100">, listázva: 100</span>
        </div>
        <div *ngFor="let hit of vm.result.hits" class="word-card">
            <p-card>
                <div [innerHTML]="toWordCardHtml(hit)"></div>
            </p-card>
        </div>
    </ng-container>

    <div *ngIf="vm.error" class="info">
        {{vm.error.error}}
    </div>

</div>
