<div class="margin" *ngIf="vm$ | async as vm">

    <p-card *ngIf="!vm.result && !vm.error">
        <hh-usage></hh-usage>
    </p-card>

    <ng-container *ngIf="vm.result">
        <div *ngFor="let hit of vm.result.hits" class="word-card">
            <p-card>
                <div [innerHTML]="toWordCardHtml(hit)"></div>
            </p-card>
        </div>
    </ng-container>

    <ng-container *ngIf="vm.error">
        <p-card>
            Nincs találat.
        </p-card>
    </ng-container>

</div>
