html, textarea {
    font: 1em/1.6 sans-serif;
}

body {
    padding: 0 1em;
    background-color: #ddd;
}

h1 {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
    padding-top: 1em;
}

h3 {
    font-size: 1em;
    text-align: center;
    margin: 0 0 0.5em;
}

textarea, input {
    font-family: Monaco, Consolas, monospace;
    border: 3px double green;
    background: #90ee90;
    box-sizing: border-box;
    margin: 0.5em 0 .3em;
    padding: .5em;
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
    min-height: 4em;
    height: 8em;
}

.top40 {
    margin-top: 40px;
}
