<h2>Használat</h2>

<ul>
    <li>a címsorra kattintva lehet visszajutni erre az induló oldalra</li>
    <li>a keresendő hindí szavakat dévanágarí vagy <a href="/ktrans" target="_blank">KTRANS</a>
        formában lehet beírni a kereső mezőbe
    </li>
    <li>a keresés az ENTER leütésével vagy a nagyítóra kattintva indul</li>
    <li>a szó beírása önmagában csak a szótári címszavak között keres</li>
    <li>más típusú keresésekhez egy betűt és szóközt kell a keresendő szó elé beírni:</li>
    <li style="list-style-type: none;">
        <ul style="list-style-type: square;">
            <li>f: csak a magyar fordítási szavak között keres</li>
            <li>h: minden hindí nyelvű tartalomban keres, beleértve a címszót,
                annak alternatív helyesírásait, nyelvtani formáit, a kifejezéseket és a példamondatokat
            </li>
            <li>m: minden magyar nyelvű tartalomban keres, beleértve a fordításokat,
                annak megjegyzéseit és a példamondatok fordításait</li>
        </ul>
    </li>
    <li>a szavak végére * írható, akkor annak a szónak minden folytatását is megtalálja</li>
    <li>több szó vagylagos kereséséhez csak szóközzel elválasztva egymás után kell írni azokat</li>
    <li>több szó együttes kereséséhez a nagybetűs AND szót kell közéjük írni, vagy a kötelező szavak elé közvetlenül + jelet kell tenni</li>
    <li>szavak kizárásához a nagybetűs NOT szót (külön) vagy - jelet (egybe) kell a szó elé írni</li>
    <li>egymás után álló szavak kereséséhez idézőjelbe kell tenni a kifejezést</li>
    <li>további angol nyelvű magyarázat <a href="https://lucene.apache.org/solr/guide/8_5/the-standard-query-parser.html#boolean-operators-supported-by-the-standard-query-parser" target="_blank">itt található</a></li>
    <li>bizonyos nagyon gyakori szavak nincsenek hatással a teljes tartalomban való keresésekre</li>
</ul>

<h3>Példa keresések</h3>

<ul>
    <li><a href="/?q=Sabd*">Sabd*</a></li>
    <li><a href="/?q=परिचय">परिचय</a></li>
    <li><a href="/?q=h%20dukAn">h dukAn</a></li>
    <li>vö. <a href="/?q=dukAn">dukAn</a></li>
    <li><a href="/?q=f%20tanul">f tanul</a></li>
    <li><a href="/?q=f%20tan*">f tan*</a></li>
    <li><a href="/?q=f%20határoz*%20elhatároz*%20dönt*%20eldönt*">f határoz* elhatároz* dönt* eldönt*</a></li>
    <li><a href="/?q=m%20törzs*">m törzs*</a></li>
</ul>
