/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: "Open Sans", "Nirmala UI", "Noto Sans", sans-serif;
    font-size: 16pt;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a {
    color: #06f;
}

body a:hover, body a:active {
    background-color: #06f;
    color: yellow;
}

body .ui-card {
    color: #333;
}

body .ui-widget {
    font-family: inherit;
    font-size: 13pt;
}

.text-center {
    text-align: center;
}

.word-card {
    line-height: 150%;
}

.word-card .title {
    font-size: 130%;
    font-weight: bold;
}

.word-card .sorsz {
    vertical-align: 30%;
    font-size: 80%;
}

.word-card .unnumbered {
    margin-left: 3em;
}

.word-card ol {
    padding-inline-start: 3em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.word-card ul li {
    list-style-type: square;
}

.word-card .bef {
    margin-top: 3pt;
}
